

.hero-section{
    background: url('./mainbg.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 10% 15%;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.626) 0px 20px 15px -24px;

  

}

.hero-section__title{
    font-size: 2.0rem;
    text-align: center;
    color: white;
    width: 70%;
    margin-top: 150px;

}

.hero-section__text{
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.656);
    text-align: center;
    width: 80%;
    font-size: 1.125rem;
}
.hero-section__search-container{
    margin-top: 45px;
    min-width: 344px;
    min-height: 56px;
    background: rgba(255, 255, 255, 0.145);
    border: 1px solid rgba(255, 255, 255, 0.836);
    display: flex;
    justify-content: space-between;
    padding: 0px 8px 0px 20px;
    align-items: center;
    border-radius: 30px;
    
}
.search-container__input{
    background: none;
    color: rgba(255, 255, 255, 0.836);
    outline: none;
    border: none;
    font-size: 1.125rem;

   
    

}

.search-container__btn{
    background: #E58411;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;

}