

.aboutus-section{
    padding-top: 50px;
    min-height: 100vh;
    width: 100%;
    background: white;
}

.aboutus__images{
    height: 200px;
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.images__img{
    height: auto;
    width: 100%;
    
    
}

.aboutus__descr{
    width: 50%;
    height: auto;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    font-family: sans-serif;
}


.aboutus__about{
    display: flex;
    width: 100%;
    height: 400px;
    gap: 10px;
}

.descr__subject{
    color: orange;

}

.descr__title{
    font-size: 1.5rem;
}

.descr__btn{
    color: orange;
    font-size: 1rem;
}

.descr__text{
    color: rgba(0, 0, 0, 0.585);
}

@media (min-width: 481px){
    .aboutus__descr{
        justify-content: center;
    
    }  
    .aboutus__images{
        margin-top: 15%;
    }

    .descr__title{
        font-size: 1.7rem;
    }
    
    .descr__btn{
      
        font-size: 1.1rem;
    }
    
    .descr__text{
        font-size: 1.1rem;
       
    }
    .aboutus__descr{
        gap: 7px;
    }
    
}

@media (min-width: 1024px){
    .images__img{
        height: auto;
        width: 80%;
        
        
    }
    .img2-container{
        display: flex;
        justify-content: flex-end;
    }
    .aboutus__descr{
        width: 50%;
        height: auto;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
        font-family: sans-serif;
        margin: 20px;
    }

    .descr__title{
        font-size: 1.8rem;
    }
    
    .descr__btn{
      
        font-size: 1.6rem;
    }
    
    .descr__text{
        font-size: 1.6rem;
       
    }
    .aboutus__descr{
        gap: 7px;
    }

}