
.features-section{
    display: grid;
    grid-template-rows: 1fr;
    padding: 120px 80px 120px 80px;
    font-family: sans-serif;
    max-width: 100vw;

}

.features-section__features{
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;

}

.features-section__feature{
    max-width: 284px;
}

.features-section__title{
    margin-bottom: 20px;
    font-size: 2rem;
}


.feature__title{

}

.feature__text{
    color: rgba(0, 0, 0, 0.61);
    margin-top: 20px;
    margin-bottom: 14px;

}

.feature__btn{
    color: orange;
    background: none;
    border: none;
    cursor: pointer;
}


@media (min-width: 481px){
    .features-section__features{
        display: flex;
        margin-top: 20px;
    }

}