.best-products-section {
    position: relative;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #F7F7F7;
    padding-top: 50px;
}
.best-products-section__title{
    font-size: 2.5rem;
    width: 60%;
    text-align: center;
}
.best-products-section__navigation{
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 57px;
    border-radius: 44px;
    padding: 5px;
    background: #EEEEEE;
    min-width: 348px;
    margin-top: 32px;
    margin-bottom: 3%;
    
    
}

.navigation__category{
    border-radius: 32px;
    padding: 5px;
    border: none;
    cursor: pointer;
    background: none;
    transition: 0.4s ease;
    color: #8D8D8D;
    min-width: 84px;
    min-height: 45px;
    font-size: 1.3rem;
    font-weight: 100;


    
}

.navigation__category:hover{
    background: white;
    color: black;


}

.navigation__category.active{
    background: white;
    color: black;
}


.best-product-section__best-products-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-left: auto;
    width: 100%;

}

.best-products-section__view-all-btn{
    position: absolute;
    bottom: 4%;
    background: none;
    border: none;
    cursor: pointer;
    color: orange;
    font-size: 1.1rem;
   

}


.main-area{
    width: 90vw;
   
}


@media (min-width: 481px) {
    .best-products-section__view-all-btn{
        top: 20%;
        
    }
}


@media (min-width: 1025px){
    .best-product-section__best-products-list{
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 100%;
    
    }


}